<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>home</title>
</head>
<body>
    <form action="/selezione">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="scelta" id="flexRadioDefault1" value="es1">
            <label class="form-check-label" for="flexRadioDefault1">
                1. Il numero di prodotti per ogni categoria, sia in formato tabellare, sia sotto forma di grafico a barre verticali
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="scelta" id="flexRadioDefault1"  value="es2">
            <label class="form-check-label" for="flexRadioDefault1">
                2. Il numero di ordini per ogni store, sia in formato tabellare, sia sotto forma di grafico a barre orizzontali
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="scelta" id="flexRadioDefault1"  value="es3">
            <label class="form-check-label" for="flexRadioDefault1">
                3. Il numero di prodotti per ogni brand, sia in formato tabellare, sia sotto forma di grafico a torta
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="scelta" id="flexRadioDefault1"  value="es4">
            <label class="form-check-label" for="flexRadioDefault1">
                4. l'elenco dei prodotti che cominciano con una certa stringa di caratteri.
                una volta effetuata la scelta l'utente clicca su un bottone che fornisce le informazioni richieste.
            </label>
          </div>
    
        <input class="btn btn-primary" type="submit" value="invio">
    </form>
    
</body>
</html>